@import '../../App.scss';
.todo__select-employee {
  select {
    font-size: 16px;
    border-radius: 4px;
    background-color: $color-ui-accent;
    border: 1px solid $color-ui-accent;
    color: black;
    &:focus-visible {
      outline: none;
    }
  }
}

.todo__select-employee-dark {
  select {
    font-size: 16px;
    border-radius: 4px;
    color: black;
    background-color: $color-text-light;
    border: 1px solid $color-text-light;
    &:focus-visible {
      outline: none;
    }
  }
}

@media (max-width: 567px) {
  .todo__select-employee,
  .todo__select-employee-dark {
    select {
      margin-top: 1px;
      font-size: 14px;
    }
  }
}
