@import '../../App.scss';

.todo__employee-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-bg-light;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  min-height: 30px;
  .todo__employee-task-right-part {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .todo__employee-task-status {
    max-width: 84px;
    width: 84px;
  }
  .todo__task-complete {
    p {
      color: rgb(44, 199, 44) !important;
    }
  }
  span,
  p {
    margin-top: 1px;
    font-size: 14px;
    color: azure;
  }
}
