@import '../App.scss';

.nav-wrapper {
    max-width: 96%;
    margin: 30px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    .active {
        transition: .5s;
        background-color: $color-bg-light;
        color: $color-text-light;
    }
    a {
        width: 100%;
        max-width: 120px;
        color: $color-bg-light;
        border: 1px solid $color-bg-light;
        border-radius: 3px;
        padding: 6px;
        transition: ease-in-out .5s;
        &:hover {
            transition: .5s;
            background-color: $color-bg-light;
            color: $color-text-light;
        }
    }
}

@media(max-width: 569px) {
    .nav-wrapper {
        width: 300px;
        a {
            max-width: 100%;
        }
    }
}