@import '../App.scss';

.nav-wrapper {
  max-width: 96%;
  margin: 30px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  .active {
    transition: 0.5s;
    background-color: $color-bg-light;
    color: $color-text-light;
  }
  a {
    width: 100%;
    max-width: 180px;
    color: $color-bg-light;
    border: 1px solid $color-bg-light;
    border-radius: 8px;
    padding: 12px;
    transition: ease-in-out 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover {
      transition: 0.5s;
      background-color: $color-bg-light;
      color: $color-text-light;
    }
  }
}
.nav-wrapper-dark {
  max-width: 98%;
  margin: 30px auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
  .active {
    transition: 0.5s;
    background-color: $color-bg-dark;
    color: $color-text-light;
  }
  a {
    width: 100%;
    max-width: 180px;
    color: $color-text-light;
    border: 1px solid $color-bg-dark;
    border-radius: 8px;
    padding: 12px;
    transition: ease-in-out 0.5s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    &:hover {
      transition: 0.5s;
      background-color: $color-bg-dark;
      color: $color-text-light;
    }
  }
}

@media (max-width: 567px) {
  .nav-wrapper,
  .nav-wrapper-dark {
    position: static;
    transform: none;
    width: 98%;
    gap: 10px;
    a {
      max-width: 100%;
    }
  }
}
