@import '../../App.scss';

.todo__employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 98%;
  max-width: 40%;
  margin: 0 auto;
  h2 {
    color: $color-ui-accent;
  }
}

@media (max-width: 992px) {
  .todo__employee-list {
    max-width: 100%;
  }
}
