@import '../../App.scss';

.list-active {
  width: 70%;
  padding: 0 15px;
  height: 100%;
  max-height: 440px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    li {
      border-radius: 8px;
      border: 1px solid $color-bg-body-dark;
      width: 100%;
      max-width: 100%;
      color: $color-text-light;
      background-color: $color-bg-body-dark;
      padding: 12px;
      height: 40px;
    }
  }
}
.list-active-dark {
  width: 70%;
  padding: 0 15px;
  height: 100%;
  max-height: 440px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    li {
      border-radius: 8px;
      border: 1px solid $color-bg-body-light;
      width: 100%;
      max-width: 100%;
      color: $color-text-light;
      background-color: transparent;
      padding: 12px;
      height: 40px;
    }
  }
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .list-active,
  .list-active-dark {
    width: 100%;
    max-height: 210px;
  }
}
@media (max-width: 567px) {
  .list-active,
  .list-active-dark {
    padding: 0 10px;
    max-height: 210px;
    ul {
      gap: 10px;
      li {
        height: 36px;
      }
    }
  }
}
