@import '../../App.scss';

.todo__list-active {
  margin: 0 auto 30px;
  width: 70%;
  padding: 0 15px;
  // height: 100%;
  // max-height: 440px;
  // overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    // overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 20px;
    max-width: 100%;
    // max-height: 470px;
    // min-height: 470px;
    margin: 0 auto;
    li {
      position: relative;
      border-radius: 8px;
      border: 1px solid $color-bg-body-dark;
      width: 100%;
      max-width: 100%;
      color: $color-text-light;
      background-color: $color-bg-body-dark;
      padding: 19px 16px 19px 10px;
      height: 40px;
    }
  }
}
.todo__list-active-dark {
  width: 70%;
  padding: 0 15px;
  // height: 100%;
  // max-height: 440px;
  // overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  ul {
    // overflow: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 20px;
    // max-width: 100%;
    // max-height: 470px;
    // min-height: 470px;
    margin: 0 auto;

    li {
      margin: 10px;
      position: relative;
      border-radius: 8px;
      border: 1px solid $color-bg-body-light;
      width: 100%;
      max-width: 100%;
      color: $color-text-light;
      background-color: transparent;
      padding: 19px 16px 19px 10px;
      height: 40px;
    }
  }
}
.todo__list-active-title-light {
  color: $color-bg-body-light;
}
.todo__list-active-title-dark {
  color: $color-ui-accent;
}

@media (max-width: 992px) {
  .todo__list-active,
  .todo__list-active-dark {
    width: 100%;
    // max-height: 492px;
  }
}
@media (max-width: 567px) {
  .todo__list-active,
  .todo__list-active-dark {
    padding: 0 10px;
    ul {
      gap: 10px;
      li {
        height: 36px;
        padding: 18px 16px 20px 10px;
      }
    }
  }
}
