.main-content-page-todo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .content-title {
    span {
      color: green;
    }
  }
}

@media (max-width: 992px) {
  .main-content-page-todo {
    flex-direction: column;
    align-items: center;
  }
}
