@import '../../App.scss';
.MuiPaper-root {
  width: 100%;
}
.todo__employee-item {
  width: 100%;
  background-color: $color-bg-body-light;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid $color-bg-body-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .todo__employee-item-part-left {
    p {
      color: $color-bg-body-dark;
      font-weight: 500;
    }
  }
  .todo__employee-item-part-right {
    .todo__employee-item-actions {
      background-color: #6a5acd;
      color: $color-bg-body-light;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 4px 12px;
      transition: ease-in-out 0.5s;
      &:hover {
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #8f71ff;
      }
    }
  }
}
