@import '../../App.scss';

.todo__todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .todo__completed-task {
    text-decoration: line-through;
    text-decoration-color: $color-bg-dark;
    text-decoration-thickness: 3px;
  }
  .todo__todo-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    .todo__todo-status {
      max-width: 130px;
      width: 130px;
    }
    .todo__todo-complete {
      display: flex;
      align-items: center;
      gap: 10px;
      .todo__todo-status-task-complete {
        color: $color-ui-accent;
      }
    }
    .employee-focus {
      &:focus,
      &:focus-visible {
        color: transparent;
      }
    }
    .todo__todo-remove {
      width: 22px;
      height: 22px;
      button {
        cursor: pointer;
        color: black;
        background-color: aliceblue;
        border: none;
        border-radius: 2px;
        padding: 2px 6px;
        .todo__remove-icon {
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .todo__todo-item {
    .todo__todo-text {
      p {
        font-size: 14px;
      }
    }
    .todo__todo-actions {
      gap: 8px;
      .todo__todo-complete {
        transform: scale(0.88);
        .todo__todo-status {
          display: none;
          p {
            font-size: 12px;
          }
        }
      }
      .todo__todo-remove {
        transform: scale(0.88);
      }
    }
  }
}
