@import '../../App.scss';
.todo-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  .todo-complete {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      width: 22px;
      height: 22px;
    }
  }
  .todo-remove > button {
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
    width: 20px;
    height: 20px;
  }
}

.completed-task {
  text-decoration: line-through;
  text-decoration-color: $color-bg-dark;
  text-decoration-thickness: 3px;
}
