@import '../../App.scss';

.todo__new-employee-form {
  margin: 0 auto 20px;
  max-width: 40%;
  width: 100%;
  .todo__form-new-employee {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    button,
    input {
      font-size: 18px;
      outline: none;
      width: 100%;
      height: 40px;
      padding-left: 10px;
      border-radius: 8px;
      border: 1px solid $color-bg-body-dark;
    }
  }
}

@media (max-width: 992px) {
  .todo__new-employee-form {
    max-width: 98%;
    .todo__form-new-employee {
      button,
      input {
        font-size: 16px;
        outline: none;
        width: 100%;
        height: 32px;
        padding-left: 10px;
        border-radius: 8px;
        border: 1px solid transparent;
        color: $color-bg-light;
        background-color: $color-bg-body-light;
        transition: ease-in-out 0.4s;
      }
      input {
        &:focus-visible {
          transform: 0.4s;
          border: 1px solid $color-ui-accent;
        }
      }
    }
  }
}
