@import '../../App.scss';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bg-light;
  margin-bottom: 30px;
  .header__left-side {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    .header__name-app {
      color: $color-bg-body-light;
    }
  }
  .header__right-side {
    display: flex;
    gap: 34px;
    div > button {
      margin-top: 12px;
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.dark-header {
  background-color: $color-items-light-mode;
  .header__name-app-dark {
    color: $color-ui-accent;
  }
}
