@import '../../App.scss';

.footer {
  background-color: $color-bg-light;
  .footer__modal-content {
    display: flex;
    .footer__modal-title {
      font-size: 18px;
    }
  }
  .footer__wrapper {
    // margin: 8px auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer__left-side,
    .footer__right-side {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
.dark-footer {
  background-color: $color-items-light-mode;
}

@media (max-width: 440px) {
  .footer {
    .footer__wrapper {
      gap: 20px;
    }
  }
}
