@import '../../App.scss';
.todo__form-new-task {
  width: 30%;
  // max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .todo__form-new-task-input {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid transparent;
    height: 40px;
    font-size: 16px;
    padding-left: 12px;
    background-color: $color-bg-body-light;
  }
  .todo__form-new-task-submit {
    background-color: $color-bg-body-light;
    color: black;
    max-width: 100%;
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid transparent;
  }
}

@media (max-width: 992px) {
  .todo__form-new-task {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 567px) {
  .todo__form-new-task {
    .todo__form-new-task-input,
    .todo__form-new-task-submit {
      height: 32px;
    }
  }
}
